<div class="nutrition-panel">
  <div class="header">PH</div>

  <!-- Top Row Values -->
  <div class="value-row">
    <div *ngFor="let item of topValues" class="value-container">
      <div class="value-box">
        {{ item.value }}
      </div>
      <div class="indicator-dot"></div>
    </div>
  </div>

  <!-- Middle Labels -->
  <div class="label-row">
    <span *ngFor="let label of middleLabels">{{ label }}</span>
  </div>

  <!-- Bottom Row Values -->
  <div class="value-row">
    <div *ngFor="let item of bottomValues" class="value-container">
      <div class="value-box">
        {{ item.value }}
      </div>
      <div class="indicator-dot"></div>
    </div>
  </div>

  <!-- Bottom Label -->
  <div class="bottom-label">
    voir bon
  </div>
</div>