<div class="dashboard-container">
  <app-header></app-header>

  <!-- Welcome Section -->
  <div class="welcome-section">
    <h2>Bonjour, {{ userName }}</h2>
    <button class="guide-button">Guide</button>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <app-dashboard-card 
      title="Mes pots" 
      iconClass="fas fa-seedling"
      (cardClick)="goToPotMonitoring()">
    </app-dashboard-card>
    
    <app-dashboard-card 
      title="Mon Profil" 
      iconClass="fas fa-user"
      (cardClick)="goToProfile()">
    </app-dashboard-card>
  </div>

  <app-footer></app-footer>
</div>